@model List<Beer1>

<h1>Beers</h1>
<p>
    <a asp-action="Create">Create</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Brand
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var beer in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m=>beer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m=>beer.Brand.Name)
                        </td>
                        <td>

                        </td>
                    </tr>
                }
    </tbody>
</table>


